<div class="nd-row nd-line">
  <a class="nd-title nd-ink" href="{{karakeepLink id}}">{{title}}</a>
  <p class="nd-summary nd-body-text">{{aiSummary}}</p>
  <div class="nd-meta nd-mono nd-muted">
    {{#if readTime}}<span class="nd-meta-item">{{readTime}} min</span>{{/if}}
    {{#if aged}}<span class="nd-badge nd-badge-warn nd-line">{{plural daysAgo "day"}} unread</span>{{else}}<span class="nd-meta-item">{{plural daysAgo "day"}} ago</span>{{/if}}
    <a class="nd-link" href="{{url}}">{{source}}&nbsp;&#8599;</a>
  </div>
</div>
